<footer>
    <div>
        <h4>Inicio</h4>
        <a href="#">Novedades</a>
        <a href="#">Preguntas Frecuentes</a>
    </div>
    <div>
        <h4>Servicio al Cliente</h4>
        <a href="register">Registrarse</a>
        <a href="#">Recuperar Contraseña</a>
        <a href="#">Terminos y Condiciones</a>
        <a href="#">Contacto</a>
    </div>
    <div>
        <h4>Eventos</h4>
        <a href="#">HotSale</a>
        <a href="#">CyberMonday</a>
    </div>
    <div class="iconsPage">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
</footer>