<header>
    <div class="logo">
        <a href="/"><img class="GPS" src="/img/GPS-logo.jpg" alt="Logo GPS"></a>
        <div class="searchBar">
            <input type="text" placeholder="Buscar productos">
            <i class="fas fa-search"></i>                
        </div>
        <div class="loginBar">
            <a href="login"><i class="fas fa-user"></i></a>
            <a href="productCar"><i class="fas fa-shopping-cart"></i></a>
        </div>
    </div>
    <nav class="bar">
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="#">Celulares</a></li>
            <li><a href="#">Accesorios</a></li>
            <li class="support"><a href="#">Servicio Tecnico</a></li>
        </ul>
    </nav>
</header>