html{
    height: 100%;
}
body{
    display: flex;
    margin: 0;
    flex-direction: column;
    min-height: 100%;
}

            /* Header */

img{
    width: 250px;
    margin: 5px;
}

.GPS{
    width: 125px;
    height: 75px;
}

.searchBar{
    text-align: center;
    margin: 5px;
}

.loginBar{
    display: flex;
    position: absolute;
    right: 20px;
    top: 25px;
    font-size: 25px;
}

.fas{
    color: white;
    margin: 5px;
}



header{
    background-color: black;
}

ul{
    padding: 0;
    list-style: none;
    margin-bottom: 0px;
}
ul li a{
    color: white;
    text-decoration: none;
}

        /* Main */

main{
    height: auto;
    margin-bottom: auto;
}

.marcas p{
    margin: 7.5px;
}

.filtro{
    font-size: 15px; 
    color: grey;
    margin: 10px;
    border-bottom: solid 1px gray;   
}

.marcasCelulares{
    display: flex;
    flex-direction: row; 
    .marcas{
        width: 50%;
    }  
    .accesorios{
        width: 50%;
    } 
}

h3{
    margin: 0;
}

h4{
    margin: 0;
}

.productos{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;  
}

.productos div{
    display: flex;
    box-shadow: 0px 0px 10px black;
    margin: 10px;
    flex-direction: column;
    align-items: center;
    
}

.productos div p{
    margin: 10px;
}


        /* Footer */


footer{
    border-top: solid 1px gray;
    /* margin-top: auto; */
    background-color: black;
}

footer div{
    margin: 10px 10px;
    color: white;
}

footer div p{
    margin: 10px;
}

.iconsPage{
    font-size: 50px;
    display: flex;
    position: relative;
    justify-content: center;
    margin-bottom: 0px;
    .fab{
        margin: 10px;
    }
}



@media (max-width: 360px) {
    header{
        position: fixed;
        width: 100%;
        .bar{
            display: none;
        }
    }
    main{
        width: 100%;
        margin-top: 125px;
    }
    
    .marcasCelulares{
        display: none;
    } 

}



@media (min-width: 361px) {
    body{
        width: 100%;
    }
    /* HEADER */
    .logo{
        display: flex;
        flex-grow: 1;
    }

    .searchBar{
        width: 100%;
        align-items: center;
        flex-grow: 1;
        align-self: center;
    }
    header div input {
        width: 90%;
        box-sizing: border-box;
    }
    .loginBar{
        position: relative;
        margin-left: 30px;
    }

    .bar ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
       /* FOOTER */
    footer{
        display: flex;
        box-sizing: border-box;
        justify-content: space-between;
        width: 100%;
    }
}



@media (min-width: 769px) {
    body{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
    /* HEADER */
    header div input{
        width: 50%;
    }


    /* MAIN */
    main{
        display: flex;
    }
    .filtro{
        width: 20%;
        border-right: solid 1px gray;
        border-bottom: none;
    }
    .productos{
        width: 80%;
    }


    
}