<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Head -->
    <%- include("partials/head") %> 
    <title>Garrix Phone</title>
</head>
    
<body>
    <!-- HEADER -->
    <%- include("partials/header") %>

    <main>
        <div class="filtro">
            <h3>Filtrar</h3>
            <div class="marcasCelulares">
                <div class="marcas">
                    <h4>Marcas</h3>
                    <p>Samsung</p>
                    <p>Motorola</p>
                    <p>Apple</p>
                    <p>Realme</p>
                </div>
                <div class="accesorios">
                    <h4>Accesorios</h3>    
                </div>                
            </div>
        </div>
        <div class="productos">
            <div>
                <img src="https://mauricomputacion.com.ar/images/productos/23811.webp" alt="Samsung A30s">
               <p>Samsung Galaxy A30s</p>
               <p>$30.000</p> 
            </div>
            <div>
                <img src="https://armoto.vtexassets.com/arquivos/ids/162899-500-auto?v=1777307802&width=500&height=auto&aspect=true" alt="Motorola Edge 30 Ultra">
                <p>Motorola Edge 30 Ultra</p>
                <p>$350.000</p>
            </div>
            <div>
                <img src="https://cdn-ipoint.waugi.com.ar/25174-large_default/iphone-14-pro-256gb-deep-purple.jpg" alt="iPhone 14">
                <p>iPhone 14</p>
                <p>$.1000.000</p>
            </div>
            <div>
                <img src="https://buytek.net/wp-content/uploads/2022/06/REALME-9i.4.webp" alt="Realme 9i">
                <p>Realme 9i</p>
                <p>$950.000</p>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <%- include("partials/footer") %>

</body>
</html>