<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Head -->
    <%- include("partials/head") %>
    <title>Logueate :D</title>
</head>

<body>
    <!-- Header -->
    <%- include("partials/header") %>
    <main>

    </main>
    <!-- Footer -->
    <%- include("partials/footer") %>
</body>
</html>